@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

:root {
  --bg-slate-900: #0f172a;
  --bg-slate-800: #1e293b;
  --bg-slate-700: #334155;
  --text-slate-200: #e2e8f0;
  --text-slate-400: #94a3b8;
  --accent-teal-300: #5eead4;
  --accent-teal-800: #115e59;

  /* Bevel Colors for Dark Mode */
  --bevel-light: #475569;
  /* Slate 600 */
  --bevel-dark: #020617;
  /* Slate 950 */

  /* Typography */

}

@variant dark (&:where(.dark, .dark *));
@variant aqua (&:where(.aqua, .aqua *));

@theme {
  --windows-base-blue: #0A246A;
  --windows-blue-100: #4977B4;
  --windows-blue-200: #0062EA;
  --windows-gray: #C0C0C0;
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer-text {
  background: linear-gradient(
    90deg,
    theme('colors.slate.600') 25%,
    theme('colors.teal.300') 50%,
    theme('colors.slate.600') 75%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text; 
  background-clip: text;
  animation: shimmer 1.5s infinite linear; 
}

@theme {
  --font-display: "Cormorant", "EB Garamond", Times, serif;
}

@theme {
  --font-ui: "Geneva", "Arial", "Helvetica", sans-serif;
}

@theme {
  --font-monospace: "IBM Plex Mono", "monospace";
}

@theme {
  --font-times: Times, serif
}

@theme {
  --animate-blink: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}


html {
  scroll-behavior: smooth;
}




::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--bg-slate-900);
  border-left: 1px solid var(--bevel-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-slate-700);
  border: 1px outset var(--bevel-light);
}

h1 {
  letter-spacing: -0.05em;
  line-height: 1;
}

.sub-nav {
  text-align: center;
  font-size: 10px;
  font-family: var(--font-ui);
}

.dark .sub-nav a, 
.dark .sub-nav button {
  color: var(--accent-teal-300);
  text-decoration: none;
  margin: 0 8px;
  
}

.aqua .sub-nav a, 
.aqua .sub-nav button {
  color: var(--background-slate-900);
  font-weight: 700;
  
}

.sub-nav button, a:hover {
  text-decoration: underline;
  color: var(--text-slate-200);
}

section {
  width: 100%;
  margin-inline:auto;
  display: flex;
  justify-items: center;
}

@media(min-width: 1024px) {
  section {
    max-width: 1152px;
  }
}


/* ===== AQUA TEAL BUTTON (macOS Aqua-inspired) ===== */
  .aqua-btn {
    font-family: "myriad-pro", system-ui;
    border-radius: 1000px;
    position: relative;
    overflow: hidden;
    cursor: default;
    outline: none;
    border: none;
 
    background: linear-gradient(rgba(20, 130, 115, 0.625), rgba(45, 212, 191, 0.625));
    box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.3),
                0 0.125em 0.125em rgba(15, 118, 110, 0.5),
                inset 0 0.25em 0.25em rgba(0, 30, 27, 0.5),
                inset 0 0.375em 0.5em 0.25em #5EEAD4;
  }
 
  .aqua-btn:focus,
  .aqua-btn:active {
    box-shadow: 0 0.375em 0.5em rgba(0, 0, 0, 0.3),
                0 0.125em 0.125em rgba(15, 118, 110, 0.5),
                inset 0 0.25em 0.25em rgba(0, 30, 27, 0.5),
                inset 0 0.375em 0.5em 0.25em #5EEAD4,
                0 0 0.5em rgba(20, 184, 166, 0.5);
  }

  .aqua-btn:hover {
    cursor: pointer;
  }
 
  .aqua-btn::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 33%;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    width: calc(100% - 0.875em);
    border-radius: 2em 2em 0.5em 0.5em;
    top: 5%;
    filter: blur(1px);
    z-index: 2;
  }
 
  /* bottom glow */
  .aqua-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 33%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    width: calc(100% - 1.25em);
    border-radius: 0.75em;
    bottom: 10%;
    filter: blur(3px);
  }
 
  .aqua-btn a {
    position: relative;
    top: -1px;
    z-index: 1;
    letter-spacing: 0.0375em;
    -webkit-text-stroke-width: 0.025em;
    -webkit-text-stroke-color: #063d36;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 0.25em 0.2em rgba(0, 40, 36, 0.4);
  }

